button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#object {
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
}